* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: url(images/pattern-background-desktop.svg) no-repeat top/contain;
    background-color: #e0e8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 600px;
    overflow: hidden;
}

.header img {
    width: 100%;
    height: 200px;
}

.summary {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content h2 {
    font-weight: bold;
    margin-bottom: 16px;
}

.content p {
    color: #7280a7;
    line-height: 1.5;
}

.plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 20px;
    background-color: hsl(225, 100%, 98%)
}

.plan-info {
    display: flex;
    align-items: center;
    gap: 12px
}

.plan-info .details span {
    margin-top: 8px;
    color: #7280a7;
}

.plan .change {
    color: #2d2dc7;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 20px;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.link {
    color: #2d2dc7;
    text-decoration: underline;

}

.primary {
    background-color: #2d2dc7;
    padding: 12px;
    color: #fff;
    border-radius: 8px;

}

.cancel {
    color: hsl(224, 23%, 55%);

}

.footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}